.wrapper {
    font-family: sans-serif;
    padding: 20px;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px auto;
    text-align: center;
}

/* Phần nút bấm */
.control-panel {
    margin-top: 20px;
    border-top: 1px dashed #ccc;
    padding-top: 10px;
}

.btn {
    margin: 0 5px;
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.btn-success { background-color: green; }
.btn-warning { background-color: orange; color: #333; }
.btn-error { background-color: red; }


.alert-box {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
    font-weight: 500;
}


.alert-box.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert-box.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}

.alert-box.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}